/* #Tablet (Portrait)
================================================== */
/* Note: Design for a width of 768px */

@media only screen and (min-width: 768px) and (max-width: 995px) {

/* Logo */
.logo h1,
.logo h2 {
	}

.main-wrap {
	max-width: 768px;
}
.main-content {
	padding: 5px 0 10px;
}

#header .grid_24 {
	margin: 0 15px;
	width: 738px;
}

.sf-menu > li > a {
	padding: 2px 10px 7px;
}
.sf-menu > li:first-child > a {
	padding: 2px 10px 7px 0;
}
/* Slider
---------------------------------------- */
#slider-wrapper {
}
.flexslider-holder {
	height:261px;
	}


/* Flickr widget */
.flickrImages a {
	width:58px;
	height:58px;
	}

.frame.alignleft img,
.frame.alignright img,
.frame.alignnone img	{
	width:100% !important;
	height:auto !important;
	}

/* SlidesJS */
.slides_container {
	width:224px;
}
.slides_container .item {
	width:224px;
	height:170px;
	}
	.slides_container .item .featured-thumbnail {
		float:none;
		margin-right:0;
		overflow:hidden;
		}
		.slides_container .item .featured-thumbnail img {
			width:100%;
			height:auto;
		}

.vcard .tel .value {
	font-size: 15px;
}

/* Banners */
.main-content-area .banners-holder li {
	width: 249px;
}
.banners-holder li {
	margin: 0 0 5px 5px;
}
.banners-holder li:first-child {
	margin: 0 0 5px 0;
}
#before-content-area .banners-holder li {
	margin: 9px 0 0 0;
}
/* Banners */
.brands_list li {
	margin: 0 26px 0;
}

.top-content-area .post_list li {
	width: 182px;
}
.top-content-area .post_list li .extra-wrap {
	padding: 10px;
}
.top-content-area .post_list li h4 {
	font-size: 13px;
	font-weight: normal;
}
.dropcap {
	margin: 0 10px 20px 0;
}


/* Address */
	.address dd span {
		width:80px;
		}

/* Google Map */
.google-map {
	position: relative;
	padding-bottom: 46.25%;
	height: 0;
	overflow: hidden;
	margin:0 0 2% 0;
}
.google-map iframe,  
.google-map object,  
.google-map embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	}

input[type="submit"], 
input[type="reset"],
.button, 
.button-alt, 
button, 
input.button {
	font-size: 13px;
	font-weight: normal;
}

/* Post Formats
---------------------------------------- */

/* Image Post Format */
.image-post-format img {
	width:100%;
	overflow:hidden;
	}	

/* Gallery Post Format */
.slides_container_gallery {
	width:534px;
	height:270px;
	}
	.slides_container_gallery .g_item {
		width:534px;
		}
	
/* Comment Form */
.commentlist ul.children {
	margin-left:0;
	}	

	
/* Sidebar
---------------------------------------- */
#searchform .searching {
	width:130px;
	}



/* Shop settings
---------------------------------------- */
	.products li .product-inner {
		font-weight: normal;
		padding: 7px;
	}
	.products li img{
		max-width: 100%;
		height: auto;
	}
	.main-content-area .products li {
		margin: 0 5px 20px 0;
		width: 185px;
	}
	.products li .price {
	}
	.products li .title {
		font-size: 14px;
	}


	.widget .buttons .button {
		font-size:11px;
		padding:0 5px;
		margin:0 4px 0 0;
	}
	.widget .buttons .button + .button {
		margin:0;
	}
	.widget .cart_list li {
		padding:5px !important;
	}
.product.type-product form.cart .button-alt {
	overflow: hidden;
	margin: 0 0 0 4px;
}
.summary .addthis_toolbox > a {
	width:45% !important;
}
.product.type-product .images + .summary {
	width:234px;
}
.widget #searchform input[type="text"] {
	width:100px;
}
.widget #searchform input[type="submit"] {
	padding:0 5px;
}
.product_list_widget li,
.product_list_widget li:first-child {
	text-align: center;
	padding-bottom: 10px;
}
.product_list_widget li img {
	float: none;
	margin: 0 0 10px 0;
}
.product_list_widget li a {
	text-align: center;
}
form.cart table tr {
	overflow: hidden;
}
form.cart table td {
	display: block;
	overflow: hidden;
}
	form.cart table tr td:first-child {
		float: left;
		padding: 0 5px 5px 0;
	}

.summary .single_variation .price {
	padding: 0;
	font-size: 12px;
	line-height: 14px;
}
.summary .single_variation .stock {
	padding: 0;
	margin: 0;
	font-size: 12px;
	line-height: 12px;
	height: 12px;
}
.single_variation {
	line-height: 12px;
}
.quantity .qty {
	width: 35px !important;
}
.summary .single_variation {
	top: 70px;
}
.summary .single_variation .price:before {
	content: ""
}
.summary .single_variation .price {
	margin: 0 10px 0 0;
}
}